<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="YourHeartIHave1" connectionString="Data Source=YourHeartIHave1;Initial Catalog=SkinDiseasesImage;Integrated Security=True;Trust Server Certificate=True;" providerName="Microsoft.Data.SqlClient" />
		<!-- Thay thế your_server, your_database và thông tin xác thực bằng giá trị thực tế của bạn -->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
